[InstagramFeed]
size = 1
fontsize = 14
textlen = 80
postcount = 20
period = 24
user = "amityvoice"
==
<!--begin instagream-->

<div class="instagream">
    <div class="instagram-feed clearfix">
        {% component 'InstagramFeed' %}
        <div class="instagram-feed-user text-center">
            <div class="user-wrapper">
                <span class="icon-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></span>
                <span class="name-user">@AmityVoice</span>
            </div>
        </div>
    </div>
</div>
<!--end instagream-->
