<!--begin alumni interview-->
<div class="container-fluid custom-w">
    <div id="second-row" class="rows">
        <div id="second-row-inner" class="row-inner cf">
            <p>Graduates of Brooklyn Amity School are global thinkers who contribute to the community as socially responsible and educated members of society.</p>
            <div id="left-column" class="">
                <div class="grades img1">
                    <div class="content">
                        <span class="num">100%</span>
                        <span class="text">College Acceptance Rate</span>
                    </div>
                </div>
                <div class="grades img2">
                    <div class="content">
                        <span class="num">Affordable</span>
                        <span class="text">Private School Tuition</span>
                    </div>

                </div>
            </div>
            <div id="center-column" class="">
                <div class="grades img3">
                    <div class="content">
                        <span class="text">Founded</span>
                        <span class="num">1999</span>
                    </div>
                </div>
                <div class="grades img4">
                    <div class="content">
                        <span class="num">PreK3 - 12</span>
                        <span class="text">Grades</span>
                    </div>
                </div>
            </div>
            <div id="right-column" class="">
                <div class="grades img5">
                    <div class="content">
                        <span class="num">9:1</span>
                        <span class="text">Student to Teacher Ratio</span>
                    </div>
                </div>
                <div class="grades img6">

                    <div class="content">
                        <span class="num">PreK-3</span>
                        <span class="text">&amp; UPK Available</span>
                    </div>
                </div>
                <div class="grades img7">
                    <div class="content">
                        <span class="num">200<sup>+</sup></span>
                        <span class="text">Students</span>
                    </div>
                </div>
                <div class="grades img8">
                    <div class="content">
                        <span class="num">AP</span>
                        <span class="text">Courses </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end alumni interview-->
