[staticMenu]
code = "menu"
==
<div class="header-wrapper header-position">
    <header id="header" class="container-header type1">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="top-left col-sm-6 hidden-xs">
                        <ul class="list-inline">
                            <li>
                                <a href="mailto:alumni@sayidan.edu">
                                    <span class="icon mail-icon"></span>
                                    <span class="text">info@amityschool.org</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon phone-icon"></span>
                                    <span class="text">(718) 891-6100 </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="top-right col-sm-6 col-xs-12">
                        <ul class="list-inline">
                            <li class="top-search">
                                <a href="#">DORM LIFE</a>
                            </li>
                            <li class="top-search">
                                <a href="#">GIVING</a>
                            </li>
                            <li class="top-search">
                                <a href="#">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle">
            <div class="container-fluid">
                <div class="logo hidden-sm hidden-xs">
                    <a href="/"> <img src="/storage/app/media/123.png" alt="logo"></a>
                </div>
                <div class="menu">
                    <nav>
                        {%component 'staticMenu'%}
                    </nav>
                </div>
                <div class="area-mobile-content visible-sm visible-xs">
                    <div class="logo-mobile">
                        <a href="/"> <img src="/storage/app/media/123.png" alt="logo"></a>
                    </div>
                    <div class="mobile-menu ">
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
